<style> #hdr {
    background-color: #f8f8f8;
}

#men {
    color: red;
    background-color: black;
    padding: 5px;
    width: 140px;
    cursor: pointer;
}

#hm {
    width: 520px;
    padding-top: 20px;
}

#shm {
    padding-top: 20px;
}

#pt {
    margin: 30px;
    width: 450px;
}

#pt1 {
    /*background-color: #000;
color: beige;*/
    width: 100%;
}

.textbox {
    background: white;
    border: 1px double #DDD;
    border-radius: 5px;
    box-shadow: 0 0 5px #333;
    color: #666;
    outline: none;
    height: 25px;
    width: 275px;
}

h1 {
    text-shadow: 2px 2px 5px red;
}

h2 {
    text-shadow: 2px 2px 5px red;
    color: white;
}

.container {
    width: 920px;
    height: 640px;
    box-shadow: 1px 2px 4px rgb(255, 0, 0);
    background: rgba(169, 167, 192, 0.6);
}

body {
    /*background-image: url("img4.jpg");*/
}

</style>
